

! URxvt ------------------------------------------------
!URxvt.termName:			rxvt-256color
URxvt.termName:				rxvt-unicode
URxvt.loginShell:			true
URxvt.font:				xft:DejaVu Sans Mono:slant=0:weight=100:size=10:antialias=True:autohint=True
URxvt.depth:				32
URxvt.background:			[77]#0D0D0D
URxvt.foreground:			#ffffff
URxvt.internalBorder:			3
URxvt.borderColor:			[85]#0D0D0D
URxvt.cursorBlink:			false
URxvt.cursorUnderline:			false
URxvt.cursorColor:			#00FF00
URxvt.visualBell:			true
URxvt.geometry:				77x22
URxvt.saveLines:			15000
URxvt.letterSpace:			-1
URxvt.cutchars:				"'"'"''`''‘''’''«''»'()<>[]{}|=,;:&?*@^
URxvt.tripleclickwords:			false
URxvt.skipBuiltinGlyphs:		false
URxvt.scrollTtyOutput:			false
URxvt.jumpScroll:			true
URxvt.scrollTtyKeypress:		true
URxvt.scrollWithBuffer:			true
URxvt.scrollBar:			false
URxvt.thickness:			10
! disable ctrl+shift key binding
URxvt.iso14755:				false
! URxvt.perl-lib:			/usr/local/lib/urxvt/perl/
! URxvt eval extension: ctrl+shift+c/v to copy/paste
URxvt.perl-ext-common:			eval
URxvt.keysym.Shift-Control-V:		eval:paste_clipboard
URxvt.keysym.Shift-Control-C:		eval:selection_to_clipboard
! emulate some XTerm key sequences
URxvt.keysym.Home:			\033OH
URxvt.keysym.End:			\033OF
URxvt.keysym.M-Home:			\033[1;3H
URxvt.keysym.M-End:			\033[1;3F
URxvt.keysym.M-Delete:			\033[3;3~
URxvt.keysym.Page_Up:			\033[5~
URxvt.keysym.Page_Down:			\033[6~
URxvt.keysym.C-Page_Up:			\033[5;5~
URxvt.keysym.C-Page_Down:		\033[6;5~
URxvt.keysym.C-M-Page_Up:		\033[5;7~
URxvt.keysym.C-M-Page_Down:		\033[6;7~
URxvt.keysym.M-Page_Up:			\033[5;3~
URxvt.keysym.M-Page_Down:		\033[6;3~
URxvt.keysym.S-M-C-Page_Up:		\033[5;8~
URxvt.keysym.S-M-C-Page_Down:		\033[6;8~
URxvt.keysym.M-Up:			\033[1;3A
URxvt.keysym.M-Down:			\033[1;3B
URxvt.keysym.M-Left:			\033[1;3D
URxvt.keysym.M-Right:			\033[1;3C
URxvt.keysym.C-Up:			\033[1;5A
URxvt.keysym.C-Down:			\033[1;5B
URxvt.keysym.C-Left:			\033[1;5D
URxvt.keysym.C-Right:			\033[1;5C
URxvt.keysym.S-Up:			\033[1;2A
URxvt.keysym.S-Down:			\033[1;2B
URxvt.keysym.S-Left:			\033[1;2D
URxvt.keysym.S-Right:			\033[1;2C
URxvt.keysym.C-S-Up:			\033[1;6A
URxvt.keysym.C-S-Down:			\033[1;6B
URxvt.keysym.C-S-Left:			\033[1;6D
URxvt.keysym.C-S-Right:			\033[1;6C
URxvt.keysym.S-M-Up:			\033[1;4A
URxvt.keysym.S-M-Down:			\033[1;4B
URxvt.keysym.S-M-Left:			\033[1;4D
URxvt.keysym.S-M-Right:			\033[1;4C
URxvt.keysym.C-M-Up:			\033[1;7A
URxvt.keysym.C-M-Down:			\033[1;7B
URxvt.keysym.C-M-Left:			\033[1;7D
URxvt.keysym.C-M-Right:			\033[1;7C

! Color scheme ----------------------------
! BLACK
*color0:				#000000
*color8:				#808080
! RED
*color1:				#870000
*color9:				#d70000
! GREEN
*color2:				#008700
*color10:				#00d700
! YELLOW
*color3:				#d78700
*color11:				#d7d700
! BLUE
*color4:				#000087
*color12:				#0000d7
! MAGENTA
*color5:				#8700d7
*color13:				#d700d7
! CYAN
*color6:				#0087d7
*color14:				#00d787
! WHITE
*color7:				#d7d7d7
*color15:				#ffffff


Mwm*xclock.clientDecoration: -resizeh -maximize
Mwm*iconBoxSBDisplayPolicy:     horizontal
Mwm*useIconBox:			True
Mwm*iconBoxGeometry:		10x1+160-0
Mwm*iconBoxTitle:		MWM Icon Manager
Mwm*iconPlacement:		left top
Mwm*fadeNormalIcon:		True
Mwm*background:			CadetBlue
Mwm*activeBackground:		LightSalmon

!##############################################################################
!# Client specific
!##############################################################################
Emwm*krita*usePPosition: on
Emwm*Navigator*overrideGeometry: 1020x980+120+0
Emwm*XOsview*clientDecoration: border
Emwm*XOsview*clientFunctions: +minimize resize move

NEdit*inactiveBackground: #b0b0b0
NEdit*inactiveForeground: #000000

XTerm*faceName: Liberation Mono
XTerm*faceSize: 10

!##############################################################################
!# Global X/Motif Setup
!##############################################################################
Xft.dpi:  86
Xcursor.theme: core-hr
Xcursor.size: 24

*renderTable.variable.fontType: FONT_IS_XFT
*renderTable.variable.fontName: Liberation Sans
*renderTable.variable.fontSize: 10
*renderTable: variable

*renderTable.fixed.fontType: FONT_IS_XFT
*renderTable.fixed.fontName: Liberation Mono
*renderTable.fixed.fontSize: 10
! *XmText*renderTable: fixed
! *XmTextField*renderTable: fixed

*background: #d2d2d2
*highlightColor: #5f8ba0
*XmList.background: #b6b6aa
*XmText.background: #d3b5b5
*XmTextField.background: #d3b5b5

*XmFileSelectionBox.width:	320
*XmFileSelectionBox.height:	480

*enableThinThickness: True
*enableBtn1Transfer: button2_adjust
*enableButtonTab: True
*enableDefaultButton: True
*enableEtchedInMenu: True
*enableMenuInCascade: True
*enableMultiKeyBindings: False
*enableToggleColor: True
*enableToggleVisual: False
*enableDragIcon: False
*multiClickTime: 260
*XmScrollBar.width: 14
*XmScrollBar.height: 14

*XmText*Translations:#override\n\
	Ctrl<Key>u:delete-to-start-of-line()\n\
	Ctrl<Key>k:delete-to-end-of-line()\n\
	Ctrl<Key>a:beginning-of-line()\n\
	Ctrl<Key>e:end-of-line()\n\
	Ctrl<Key>p:process-up()\n\
	Ctrl<Key>b:backward-character()\n\
	Ctrl<Key>n:process-down()\n\
	Ctrl<Key>f:forward-character()

*XmTextField*Translations:#override\n\
	Ctrl<Key>u:delete-to-start-of-line()\n\
	Ctrl<Key>k:delete-to-end-of-line()\n\
	Ctrl<Key>a:beginning-of-line()\n\
	Ctrl<Key>e:end-of-line()\n\
	Ctrl<Key>b:backward-character()\n\
	Ctrl<Key>f:forward-character()

!##############################################################################
!# Window Decorations
!##############################################################################
Emwm*client*background: #8C8C8C
Emwm*client*activeBackground: #aba68c
Emwm*icon*activeBackground: #aba68c
